<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <button class="on-btn">ON</button>
    <button class="off-btn">OFF</button>

    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
