<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="master-container">
      <div class="space inactive"></div>
      <div class="grounded"></div>
      <div class="switch-button">
        <div class="switch-button-case left active">nope</div>
        <div class="switch-button-case right">boom</div>
      </div>
    </div>

    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
